/* Learning CSS: pseudo-Class */
button:hover{
    background-color:lightblue;
}

li:first-child{
    color:crimson;
}

li:nth-child(2){
    color:forestgreen;
}

/* Custom practice styling */
.practice-highlight {
  border: 1px dashed #ccc;
  padding: 10px;
}